
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.formCont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10% 37%;
    width: 400px;
    height: 420px;
    padding: 20px;
    background: #292828;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 black;
}

.formCont h2 {
    margin-top: 15px;
    margin-bottom: 25px;
}

.formCont input {
    width: 90%;
    height: 12%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(183, 181, 181);
    font-size: 15px;
}

.formCont button {
    width: 90%;
    height: 12%;
    padding: 7px 0;
    border-radius: 5px;
    border: 1px solid rgb(183, 181, 181);
    font-size: 15px;
    background: #3868eb;
    color: white;
    cursor: pointer;
    font-weight: 500;
}

#signInBtn {
    background: white;
    color: #0849fa;
    border: 2px solid #0849fa;
    margin-bottom: 10px;
}